* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    margin-left: 120px;
}

.list-section {
    margin-top: 40px;
    width: 72%;
    padding: 10px;
    overflow-y: auto;
}

.preferences-panel {
    width: 22%;
    padding: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;

}

#emoji-list {
    list-style: none;
    padding: 0;
    padding-top: 30px;

}

#emoji-list li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 2px solid #a0a0a018;
    border-radius: 100px;
    margin-bottom: 20px;
}


body.light {
    background-color: #fff;
    color: #444444;
}

body.light .preferences-panel {
    background-color: #f0f0f064; 
}

body.dark {
    background-color: #272727;
    color: #fff;
}

body.dark .preferences-panel {
    background-color: #1a1a1a; 
}

body.solarized {
    background-color: #193046;
    color: #ffffff;
}

body.solarized .preferences-panel {
    background-color: #30506d;
}

.list-style1 {
    background-color: #f9f9f98a;
}

.list-style2 {
    background-color: #ffffff49;
}

.list-style3 {
    background-color: #2a2a2a9e;
    color: #fff;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0;
    }

    .list-section {
        width: 100%;
    }

    .preferences-panel {
        width: 100%;
        margin-left: 0;
        padding-bottom: 20px;
        border-left: none;
    }
}

